ul { list-style-type: none; }
li { border-bottom: 1px solid #CCC; padding-top: 30px; padding-left: 15px; min-height: 50px; }
li:hover { border-left: 1px solid #CCC; background: #FAFAFA; text-decoration: underline; }
